<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CoronaBot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <center>
        <h1>
            <img src="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"
                alt="CANDICE" style="width:40px;height:40px;" />Your Personal ChatBot
        </h1>
    </center>
    <div class="box"></div>
    <div class="boxed">
        <div>
            <div id="chatbox">
                <img src="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"
                    alt="CANDICE" style="width:40px;height:40px;" />
                <p class="botText">
                    <span>Hi! I'm Candice your personal ChatBot</span>
                </p>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Message" />
            </div>
        </div>
    </div>

    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document
                .getElementById("userInput")
                .scrollIntoView({ block: "start", behavior: "smooth" });
            $.get("/get", { msg: rawText }).done(function (data) {
                var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                $("#chatbox").append(botHtml);
                document
                    .getElementById("userInput")
                    .scrollIntoView({ block: "start", behavior: "smooth" });
            });
        }
        $("#textInput").keypress(function (e) {
            if (e.which == 13) {
                getBotResponse();
            }
        });
    </script>

</body>

</html>